
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Shopzoni</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bbootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet">
    <link href="bootstrap/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="banner/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="banner/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="banner/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->

	<link rel="stylesheet" href="owlcarousel/owl.carousel.css" media="screen">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="owlcarousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="owlcarousel/owl.transitions.css" media="screen">
	<script class="jsbin" src="owlcarousel/hover_m.js"></script>

  </head>

  <body>
<div class="navbar-fixed-top">
    <header class="header_1">
      <div class="container-fluid">
        <div class="col-lg-10 col-xs-7 top_contact"><i class="fa fa-phone" aria-hidden="true"></i> 1800-555-8989</div>
        <div class="col-lg-1 col-xs-2 top_contact top_user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>  login</a></div>
        <div class="col-lg-1 col-xs-3 top_contact top_user"><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</a></div>
      </div>
    </header>

    <div class="header_2">
      <div class="container-fluid">
      <div class="col-md-3"><img src="img/logo.jpg" class="logo" width="100%" /></div>
      <div class="col-md-9 grid_margin">
        <div class="row">
        <div class="col-lg-9 col-xs-12">
          <div class="input-group mb-md search_box_align">
          <input type="text" class="form-control">
          <span class="input-group-btn">
          <button class="btn btn-success btn-warning" type="button">Go</button>
          </span>
          </div>
        </div>

        <div class="col-lg-3 col-xs-12 cart_align">
          <div class="col-lg-9 col-xs-10 cart_count">0 item(s) - RS 0.00</div>
          <div class="col-lg-2 col-xs-2 cart_bg cart cart_icon"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>


    

    <div class="container-fluid banner_top_margin">
      <div class="col-md-12">
      <div id="owl-demo" class="owl-carousel">
        <div class="item"><img src="img/banner2.jpg"></div>
        <div class="item"><img src="img/banner4.jpg"></div>
        <div class="item"><img src="img/banner3.jpg"></div>
        <div class="item"><img src="img/banner1.jpg"></div>
        <div class="item"><img src="img/banner5.jpg"></div>
      </div>
      </div>
    </div>


    <div class="container-fluid" style="padding-top: 30px">
            <div class="col-md-12">
              <div class="quote">
                <ul>
                  <li><a href="#">0</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-12" style="margin-top: 30PX">
              <div class="quote_word">
                <ul>
                  <li><a href="#">A</a></li>
                  <li><a href="#">B</a></li>
                  <li><a href="#">C</a></li>
                  <li><a href="#">D</a></li>
                  <li><a href="#">E</a></li>
                  <li><a href="#">F</a></li>
                  <li><a href="#">G</a></li>
                  <li><a href="#">H</a></li>
                  <li><a href="#">I</a></li>
                  <li><a href="#">J</a></li>
                  <li><a href="#">K</a></li>
                  <li><a href="#">L</a></li>
                  <li><a href="#">M</a></li>
                  <li><a href="#">N</a></li>
                  <li><a href="#">O</a></li>
                  <li><a href="#">P</a></li>
                  <li><a href="#">Q</a></li>
                  <li><a href="#">R</a></li>
                  <li><a href="#">S</a></li>
                  <li><a href="#">T</a></li>
                  <li><a href="#">U</a></li>
                  <li><a href="#">V</a></li>
                  <li><a href="#">W</a></li>
                  <li><a href="#">X</a></li>
                  <li><a href="#">Y</a></li>
                  <li><a href="#">Z</a></li>
                </ul>
              </div>
        </div>  
    </div>


    <div class="container-fluid" style="padding: 30px">
    	<div class="col-md-3 grid_margin">
       <div class="filter_box">
          <div class="brand_filter_head">Brand Filter</div>
          <div class="col-md-12">
                        <div class="input-group input-search brand_search_box">
                          <input type="text" class="form_search-control" name="q" id="q" placeholder="Search...">
                          <span class="input-group-btn">
                            <button class="btn brand_search_btn" type="submit">Search</button>
                          </span>
                        </div>
          </div>
          <div class="brand_filter_head">Department</div>
            <div class="col-md-12">
              <div class="checkbox-custom checkbox-default check_box_brand">
                              <input type="checkbox" id="checkboxExample1">
                              <label for="checkboxExample1">Laptops</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox"  id="checkboxExample2">
                              <label for="checkboxExample2">Laptop Accessories</label>
              </div>
               <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox"  id="checkboxExample3">
                              <label for="checkboxExample3">Network Components</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox"  id="checkboxExample4">
                              <label for="checkboxExample4">Desktops</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample5">
                              <label for="checkboxExample5">Computer Peripherals</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample6">
                              <label for="checkboxExample6">4brothers</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample7">
                              <label for="checkboxExample7">Mad(e) in India</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample8">
                              <label for="checkboxExample7">Maddcell</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample9">
                              <label for="checkboxExample7">Routers</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample10">
                              <label for="checkboxExample7">Monitors</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample11">
                              <label for="checkboxExample7">Printers & Inks</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample12">
                              <label for="checkboxExample7">Storage</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample13">
                              <label for="checkboxExample7">Audio Players</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample14">
                              <label for="checkboxExample7">Video Players</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample16">
                              <label for="checkboxExample7">Network Components</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample17">
                              <label for="checkboxExample7">Laptop Accessories</label>
              </div>
              <div class="checkbox-custom checkbox-primary check_box_brand">
                              <input type="checkbox" id="checkboxExample18">
                              <label for="checkboxExample7">iphone</label>
              </div>
            
            <div><button class="btn brand_search_btn btn_coust" type="submit">GO</button></div>
            </div>

            
          <div class="clear"></div>
       </div>
      </div>
      <div class="col-md-9 grid_margin">
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b1.jpg" />
            <div class="brand_name">Dell</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b2.jpg" />
            <div class="brand_name">Asus</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b3.jpg" />
            <div class="brand_name">Hp</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b4.jpg" />
            <div class="brand_name">Seagate</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b5.jpg" />
            <div class="brand_name">Apple</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b6.jpg" />
            <div class="brand_name">Compaq</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b7.jpg" />
            <div class="brand_name">Lenovo</div>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brand_box">
          <a href="#">
            <img src="img/b8.jpg" />
            <div class="brand_name">Fujitsu</div>
          </a>
          </div>
        </div>
      </div>
	  </div>

	

	


	<div class="clear"></div>	

    <div class="container">
    <div class="col-md-2"></div>
    <div><img src="img/add_banner.jpg" class="img-responsive"></div>
    </div>
    



   


    <div class="footer_bg">
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-4">
        <h4 class="footer_menu_header">information</h4>
        <div class="footer_menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
        </div>
      </div>
      
      <div class="col-md-4">
        <h4 class="footer_menu_header">Customer Name</h4>
        <div class="footer_menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
        </div>
      </div>
      
      <div class="col-md-4">
        <h4 class="footer_menu_header">Social Connection</h4>
        <div>
        	<span><a href="#"><img src="img/facebook-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/twitter-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/gplus-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/youtube-icon.jpg" /></a></span>
        </div>
      </div>
      </div>

      <div class="footer_bottom" >
        <div class="col-md-2 grid_margin footer_bottom_con">
          <span><img src="img/footer_call_icon.jpg"></span> <span class="footer_call_number">1800 2000 8000</span>
        </div>
        <div class="col-md-8 grid_margin footer_bottom_con">
          <span><img src="img/footer_call_icon.jpg"></span> <span class="footer_call_number">123 Fashion Ave. NY</span>
        </div>

        <div class="col-md-2 footer_company">Develop By Anvitechnology</div>
      </div>
      </div>
    </div>


















   
    <script src="banner/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="banner/owl-carousel/owl.carousel.js"></script> 
      <style>
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
  
  #owl-demo .owl-next {
  right: 15px;
  position: absolute;
  width: 30px;
  background-image: url(banner/crousel_arrow_right.png) !important;
  height: 48px;
  top:40%;
  background-repeat: no-repeat!important;
}
#owl-demo .owl-prev {
  left: 15px;
  position: absolute;
  width: 30px;
  background-image: url(banner/crousel_arrow_left.png) !important;
  height: 48px;
  top:40%;
  background-repeat: no-repeat!important;
}

#owl-demo.owl-theme .owl-controls .owl-buttons div{ opacity:1; background:transparent}
  
    </style>
<script>
    $(document).ready(function() {

      var owl = $("#owl-demo");
      owl.owlCarousel({
        navigation : true,
        singleItem : true,
    navigationText:false,
        transitionStyle : "fade",
    pagination:false,
    
      });

     });
    </script> 
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->


    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/npm.js"></script>

    <script type="text/javascript">
 $(".owl-carousel").hover(function(){ 
  $(".owl-buttons").show();

},function(){
     $(".owl-buttons").hide(); 
});
</script>
<style type="text/css">
  .owl-buttons{
    display: none;
  }
</style>

<script src="owlcarousel/owl.carousel.js"></script>
<script src="owlcarousel/theme.js"></script>
<script src="owlcarousel/theme.init.js"></script>  
<style>
 
</style>
  </body>
</html>
