
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Shopzoni</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bbootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet">
    <link href="bootstrap/css/font-awesome.css" rel="stylesheet">
    <link href="bootstrap/css/tab_login.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/css/theme-shop.css">
    <link rel="stylesheet" href="bootstrap/css/theme-elements.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="banner/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="banner/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="banner/owl-carousel/owl.transitions.css" rel="stylesheet">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="owlcarousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="owlcarousel/owl.transitions.css" media="screen">
	<script class="jsbin" src="owlcarousel/hover_m.js"></script>
	<script type="text/javascript" src="bootstrap/js/calendar.js"></script>

  </head>

  <body>
<div class="navbar-fixed-top">
    <header class="header_1">
      <div class="container-fluid">
        <div class="col-lg-10 col-xs-7 top_contact"><i class="fa fa-phone" aria-hidden="true"></i> 1800-555-8989</div>
        <div class="col-lg-1 col-xs-2 top_contact top_user main-nav"><a href="#" class="cd-signin"><i class="fa fa-user" aria-hidden="true"></i>  login</a></div>
        <div class="col-lg-1 col-xs-3 top_contact top_user main-nav"><a href="#" class="cd-signup"><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</a></div>
      </div>
    </header>

      
    <div class="header_2">
      <div class="container-fluid">
      <div class="col-md-3"><img src="img/logo.jpg" class="logo" width="100%" /></div>
      <div class="col-md-9 grid_margin">
        <div class="row">
        <div class="col-lg-9 col-xs-12">
          <div class="input-group mb-md search_box_align">
          <input type="text" class="form-control">
          <span class="input-group-btn">
          <button class="btn btn-success btn-warning" type="button">Go</button>
          </span>
          </div>
        </div>

        <div class="col-lg-3 col-xs-12 cart_align">
          <div class="col-lg-9 col-xs-10 cart_count">0 item(s) - RS 0.00</div>
          <div class="col-lg-2 col-xs-2 cart_bg cart_box cart_icon"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>


    

    


    

<div role="main" class="main shop banner_top_margin" style="padding-top: 180px">

				<div class="container">

					<div class="row">
						<div class="col-md-12">

							<div class="row featured-boxes">
								<div class="col-md-12">
									<div class="featured-box featured-box-secundary featured-box-cart">
										<div class="box-content">
											<form method="post" action="">
												<table cellspacing="0" class="shop_table cart">
													<thead>
														<tr>
															<th class="product-remove">Action
																
															</th>
															<th class="product-thumbnail">Product
																
															</th>
															<th class="product-name">&nbsp;
																
															</th>
                                                            <th class="product-price">
																Unit
															</th>
															<th class="product-price">
																Price
															</th>
															<th class="product-quantity">
																Quantity
															</th>
															<th class="product-subtotal">
																Amount
															</th>
														</tr>
													</thead>
													<tbody>
														<tr class="cart_table_item">
															<td class="product-remove">
																<a title="Remove this item" class="remove" href="#">
																	<i class="fa fa-times"></i>
																</a>
															</td>
															<td class="product-thumbnail">
																<a href="shop-product-sidebar.html">
																	<img width="100" height="100" alt="" class="img-responsive" src="img/product-1.jpg">
																</a>
															</td>
															<td class="product-name">
																<a href="shop-product-sidebar.html">Photo Camera</a>
															</td>
															<td class="product-price">
																<span class="amount">PC</span>
															</td>
                                                            <td class="product-price">
																<span class="amount">$299</span>
															</td>
															<td class="product-quantity">
																<form enctype="multipart/form-data" method="post" class="cart">
																	<div class="quantity">
																		<input type="button" class="minus" value="-">
																		<input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
																		<input type="button" class="plus" value="+">
																	</div>
																</form>
															</td>
															<td class="product-subtotal">
																<span class="amount">$299</span>
															</td>
														</tr>
                                                        <tr class="cart_table_item">
															<td class="product-remove">
																<a title="Remove this item" class="remove" href="#">
																	<i class="fa fa-times"></i>
																</a>
															</td>
															<td class="product-thumbnail">
																<a href="shop-product-sidebar.html">
																	<img width="100" height="100" alt="" class="img-responsive" src="img/product-1.jpg">
																</a>
															</td>
															<td class="product-name">
																<a href="shop-product-sidebar.html">Photo Camera</a>
															</td>
															<td class="product-price">
																<span class="amount">PC</span>
															</td>
                                                            <td class="product-price">
																<span class="amount">$299</span>
															</td>
															<td class="product-quantity">
																<form enctype="multipart/form-data" method="post" class="cart">
																	<div class="quantity">
																		<input type="button" class="minus" value="-">
																		<input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
																		<input type="button" class="plus" value="+">
																	</div>
																</form>
															</td>
															<td class="product-subtotal">
																<span class="amount">$299</span>
															</td>
														</tr>
														
													</tbody>
												</table>
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="row featured-boxes cart">
                          		<div class="col-md-6">
                          		<div class="featured-box featured-box-secundary default">
										<div class="box-content">
											<h4>Billing Address</h4>
											<form action="" id="" method="post">
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Name</label>
															<input type="text" value="" class="form-control">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Phone/Mobile</label>
															<input type="text" value="" class="form-control">
														</div>
													</div>
												</div>
                                                <div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>E-mail Address</label>
															<input type="text" value="" class="form-control">
														</div>
													</div>
												</div>
                                                <div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Address</label>
															<input type="text" value="" class="form-control">
														</div>
													</div>
												</div>
                                                <div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Pincode</label>
															<input type="text" value="" class="form-control">
														</div>
													</div>
												</div>
                                                <div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<span class="remember-box checkbox">
															<label>
																<input type="checkbox">Ship to billing address?
															</label>
														</span>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
                            </div>
                            	<div class="col-md-6">
								<div class="col-md-12">
									<div class="featured-box featured-box-secundary default">
										<div class="box-content">
											<h4>Calculate Shipping</h4>
											<form action="" id="" method="post">
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>Deliver Location</label>
															<select class="form-control">
																<option value="">Deliver Location</option>
                                                                <option value="">Select a country</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<div class="col-md-6">
															<label>Deliver date</label>
															<input class="date-picker date_icon" type="text"/>
														</div>
														<div class="col-md-6">
															<label>Time Slot</label>
															<select class="form-control">
																<option value="">Select time slot</option>
                                                                <option value="">Select a country</option>
															</select>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="featured-box featured-box-secundary default" style="margin-top:13px">
										<div class="box-content">
											<h4>Cart Totals</h4>
											<table cellspacing="0" class="cart-totals">
												<tbody>
													<tr class="cart-subtotal">
														<th>
															<strong>Cart Subtotal</strong>
														</th>
														<td>
															<strong><span class="amount">$431</span></strong>
														</td>
													</tr>
													<tr class="shipping">
														<th>
															Shipping
														</th>
														<td>
															Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
														</td>
													</tr>
													<tr class="total">
														<th>
															<strong>Order Total</strong>
														</th>
														<td>
															<strong><span class="amount">$431</span></strong>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
                                </div>
							</div>
                            
                            <div class="row featured-boxes">
								<div class="col-md-12">
									<div class="actions-continue">
										<button class="btn brand_search_btn btn_coust" type="submit">Confirm</button>
									</div>
								</div>
							</div>
						</div>
	
    					
					</div>

			</div>

     

	

	 


	<div class="clear"></div>	

    <div class="container">
    <div class="col-md-2"></div>
    <div><img src="img/add_banner.jpg" class="img-responsive"></div>
    </div>
    



   


    <div class="footer_bg">
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-4">
        <h4 class="footer_menu_header">information</h4>
        <div class="footer_menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
        </div>
      </div>
      
      <div class="col-md-4">
        <h4 class="footer_menu_header">Customer Name</h4>
        <div class="footer_menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
        </div>
      </div>
      
      <div class="col-md-4">
        <h4 class="footer_menu_header">Social Connection</h4>
        <div>
        	<span><a href="#"><img src="img/facebook-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/twitter-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/gplus-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/youtube-icon.jpg" /></a></span>
        </div>
      </div>
      </div>

      <div class="footer_bottom" >
        <div class="col-md-2 grid_margin footer_bottom_con">
          <span><img src="img/footer_call_icon.jpg"></span> <span class="footer_call_number">1800 2000 8000</span>
        </div>
        <div class="col-md-8 grid_margin footer_bottom_con">
          <span><img src="img/footer_call_icon.jpg"></span> <span class="footer_call_number">123 Fashion Ave. NY</span>
        </div>

        <div class="col-md-2 footer_company">Develop By Anvitechnology</div>
      </div>
      </div>
    </div>



<!-- Login-register >-->
  <div class="cd-user-modal" style="z-index:200000000000;">
  <!-- this is the entire modal form, including the background -->
  <div class="cd-user-modal-container">
    <!-- this is the container wrapper -->
    <ul class="cd-switcher main_font_size">
      <li><a href="#0">Sign in</a></li>
      <li><a href="#0">New account</a></li>
    </ul>
    <div id="cd-login">
      <!-- log in form -->
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="signin-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-password" for="signin-password">Password</label>
          <input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
          <a href="#0" class="hide-password">Hide</a> <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <input type="checkbox" id="remember-me" checked>
          <label for="remember-me">Remember me</label>
        </p>
        <p class="fieldset">
          <input class="full-width" type="submit" value="Login">
        </p>
        <p> Login with your social networking account </p>
        <p> <a href="#" class="social_icon"><img src="img/facebook.gif"/> SIGN IN WITH FACEBOOK</a> </p>
        <p> <a href="#" class="social_icon"><img src="img/google_plua.png"/> SIGN IN WITH GOOGLE PLUS</a> </p>
      </form>
      <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div>
    <!-- cd-login -->
    <div id="cd-signup">
      <!-- sign up form -->
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Name</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Name">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Business Name</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Business Name">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Address</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Address">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Pincode</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Pincode">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-email" for="signup-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-email" for="signup-email">Phone/Mobile*</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="Phone/Mobile*">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-password" for="signup-password">Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
          <a href="#0" class="hide-password">Hide</a> <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-password" for="signup-password">Confirm Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Confirm Password">
          <a href="#0" class="hide-password">Hide</a> <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">By signup in, you agree to our <a href="#">Terms & Conditions</a> </label>
        </p>
        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Create account">
        </p>
      </form>
      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div>
    <!-- cd-signup -->
    <div id="cd-reset-password">
      <!-- reset password form -->
      <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="reset-email">E-mail</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Reset password">
        </p>
      </form>
      <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
    </div>
    <!-- cd-reset-password -->
    <a href="#0" class="cd-close-form">Close</a> </div>
  <!-- cd-user-modal-container -->
</div>
  <!-- Login-register >-->







   
    <script src="banner/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="banner/owl-carousel/owl.carousel.js"></script> 
      <style>
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
  
  #owl-demo .owl-next {
  right: 15px;
  position: absolute;
  width: 30px;
  background-image: url(banner/crousel_arrow_right.png) !important;
  height: 48px;
  top:40%;
  background-repeat: no-repeat!important;
}
#owl-demo .owl-prev {
  left: 15px;
  position: absolute;
  width: 30px;
  background-image: url(banner/crousel_arrow_left.png) !important;
  height: 48px;
  top:40%;
  background-repeat: no-repeat!important;
}

#owl-demo.owl-theme .owl-controls .owl-buttons div{ opacity:1; background:transparent}
  
    </style>
<script>
    $(document).ready(function() {

      var owl = $("#owl-demo");
      owl.owlCarousel({
        navigation : true,
        singleItem : true,
    navigationText:false,
        transitionStyle : "fade",
    pagination:false,
    
      });

     });
    </script> 
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->


    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/npm.js"></script>

    <script type="text/javascript">
 $(".owl-carousel").hover(function(){ 
  $(".owl-buttons").show();

},function(){
     $(".owl-buttons").hide(); 
});
</script>
<style type="text/css">
  .owl-buttons{
    display: none;
  }
</style>

<script src="owlcarousel/owl.carousel.js"></script>
<script src="owlcarousel/theme.js"></script>
<script src="owlcarousel/theme.init.js"></script>
<script src="bootstrap/js/tab_login.js"></script>  

  </body>
</html>
