
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Shopzoni</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bbootstrap-theme.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet">
    <link href="bootstrap/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="banner/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="banner/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="banner/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->

	<link rel="stylesheet" href="owlcarousel/owl.carousel.css" media="screen">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="owlcarousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="owlcarousel/owl.transitions.css" media="screen">
	<script class="jsbin" src="owlcarousel/hover_m.js"></script>
    <link href="bootstrap/css/tab_login.css" rel="stylesheet">

  </head>

  <body>
  <div class="navbar-fixed-top">
    <header class="header_1">
      <div class="container-fluid">
        <div class="col-lg-10 col-xs-7 top_contact"><i class="fa fa-phone" aria-hidden="true"></i> 1800-555-8989</div>
        <div class="col-lg-1 col-xs-2 top_contact top_user main-nav"><a href="#" class="cd-signin"><i class="fa fa-user" aria-hidden="true"></i>  login</a></div>
        <div class="col-lg-1 col-xs-3 top_contact top_user main-nav"><a href="#" class="cd-signup"><i class="fa fa-user-plus" aria-hidden="true"></i>  Register</a></div>
      </div>
    </header>

    <div class="header_2">
      <div class="container-fluid">
      <div class="col-md-3"><img src="img/logo.jpg" class="logo" width="100%" /></div>
      <div class="col-md-9 grid_margin">
        <div class="row">
        <div class="col-lg-9 col-xs-12">
          <div class="input-group mb-md search_box_align">
          <input type="text" class="form-control">
          <span class="input-group-btn">
          <button class="btn btn-success btn-warning" type="button">Go</button>
          </span>
          </div>
        </div>

        <div class="col-lg-3 col-xs-12 cart_align">
          <div class="col-lg-9 col-xs-10 cart_count">0 item(s) - RS 0.00</div>
          <div class="col-lg-2 col-xs-2 cart_bg cart_box cart_icon"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          <div class="col-md-4 top_search_menu"><a href="#">SEARCH BY DEPARTMENT</a></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>  


    <div id="owl-demo" class="owl-carousel banner_top_margin">
      <div class="item"><img src="img/banner2.jpg"></div>
      <div class="item"><img src="img/banner4.jpg"></div>
      <div class="item"><img src="img/banner3.jpg"></div>
      <div class="item"><img src="img/banner1.jpg"></div>
      <div class="item"><img src="img/banner5.jpg"></div>
    </div>


    <div class="container-fluid" style="padding-top: 30px; margin-bottom: 20px">
    <div class="col-md-4 banner_add_margin">
      <div class="col-lg-6 col-xs-8  banner_add1">
        <h4 class="add_header">HP DeskJet 2131</h4>
        <p>Extra 5% off* on Axis Bank Buzz</p>
        <div><a href="#" class="banner_shop_btn">Shop Now</a></div>
      </div>
      <div class="col-lg-6 col-xs-4 banner_add1"><img src="img/add1.png" class="add_banner_img img-responsive" ></div>
    </div>

    <div class="col-md-4 banner_add_margin">
      <div class="col-lg-6 col-xs-8 banner_add2">
        <h4 class="add_header">Apple Magic</h4>
        <p>Extra 5% off* on Axis Bank Buzz</p>
        <div><a href="#" class="banner_shop_btn">Shop Now</a></div>
      </div>
      <div class="col-lg-6 col-xs-4 banner_add2"><img src="img/add2.jpg" class="add_banner_img img-responsive" ></div>
    </div>

    <div class="col-md-4 banner_add_margin">
      <div class="col-lg-6 col-xs-8 banner_add3">
        <h4 class="add_header">iMac</h4>
        <p>Retina. In colossal and ginormous.</p>
        <div><a href="#" class="banner_shop_btn">Shop Now</a></div>
      </div>
      <div class="col-lg-6 col-xs-4 banner_add3"><img src="img/add3.png" class="add_banner_img img-responsive" ></div>
    </div>

    </div>




    <div class="container-fluid">
    <h3 class="home_crow_head">Beds: Up to 60% off</h3>
    	<div class="owl-carousel " data-plugin-options='{"items": 4, "singleItem": false, "navigation": true, "pagination": false, "autoPlay": false}'>
            
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p1.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p2.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p3.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p4.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p2.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p1.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>

        </div>
	</div>

	<div class="container-fluid">
    <h3 class="home_crow_head">Beds: Up to 60% off</h3>
    	<div class="owl-carousel " data-plugin-options='{"items": 4, "singleItem": false, "navigation": true, "pagination": false, "autoPlay": false}'>
            
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p1.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p2.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p3.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p4.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p2.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>
            <div class="crowsel_gap itemsContainer"> 
	            <a href="#"><img class="img-responsive crowsel_img_width" src="img/p1.jpg">
					<div class="play"><img src="img/quick-view.png" style="border:none;" /> </div>
	            </a>
            </div>

        </div>
	</div>

	


	<div class="clear"></div>	

    <div class="container">
    <div class="col-md-2"></div>
    <div><img src="img/add_banner.jpg" class="img-responsive"></div>
    </div>
    



   


    <div class="footer_bg">
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-4">
        <h4 class="footer_menu_header">information</h4>
        <div class="footer_menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
        </div>
      </div>
      
      <div class="col-md-4">
        <h4 class="footer_menu_header">Customer Name</h4>
        <div class="footer_menu">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Some Link</a></li>
        </ul>
        </div>
      </div>
      
      <div class="col-md-4">
        <h4 class="footer_menu_header">Social Connection</h4>
        <div>
        	<span><a href="#"><img src="img/facebook-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/twitter-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/gplus-icon.jpg" /></a></span>
        	<span><a href="#"><img src="img/youtube-icon.jpg" /></a></span>
        </div>
      </div>
      </div>

      <div class="footer_bottom" >
        <div class="col-md-2 grid_margin footer_bottom_con">
          <span><img src="img/footer_call_icon.jpg"></span> <span class="footer_call_number">1800 2000 8000</span>
        </div>
        <div class="col-md-8 grid_margin footer_bottom_con">
          <span><img src="img/footer_call_icon.jpg"></span> <span class="footer_call_number">123 Fashion Ave. NY</span>
        </div>

        <div class="col-md-2 footer_company">Develop By Anvitechnology</div>
      </div>
      </div>
    </div>
















   <!-- Login-register >-->
  <div class="cd-user-modal" style="z-index:200000000000;">
  <!-- this is the entire modal form, including the background -->
  <div class="cd-user-modal-container">
    <!-- this is the container wrapper -->
    <ul class="cd-switcher main_font_size">
      <li><a href="#0">Sign in</a></li>
      <li><a href="#0">New account</a></li>
    </ul>
    <div id="cd-login">
      <!-- log in form -->
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="signin-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-password" for="signin-password">Password</label>
          <input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
          <a href="#0" class="hide-password">Hide</a> <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <input type="checkbox" id="remember-me" checked>
          <label for="remember-me">Remember me</label>
        </p>
        <p class="fieldset">
          <input class="full-width" type="submit" value="Login">
        </p>
        <p> Login with your social networking account </p>
        <p> <a href="#" class="social_icon"><img src="img/facebook.gif"/> SIGN IN WITH FACEBOOK</a> </p>
        <p> <a href="#" class="social_icon"><img src="img/google_plua.png"/> SIGN IN WITH GOOGLE PLUS</a> </p>
      </form>
      <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div>
    <!-- cd-login -->
    <div id="cd-signup">
      <!-- sign up form -->
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Name</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Name">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Business Name</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Business Name">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Address</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Address">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-username" for="signup-username">Pincode</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Pincode">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-email" for="signup-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span> </p>
          <p class="fieldset">
          <label class="image-replace cd-email" for="signup-email">Phone/Mobile*</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="Phone/Mobile*">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-password" for="signup-password">Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
          <a href="#0" class="hide-password">Hide</a> <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <label class="image-replace cd-password" for="signup-password">Confirm Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Confirm Password">
          <a href="#0" class="hide-password">Hide</a> <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">By signup in, you agree to our <a href="#">Terms & Conditions</a> </label>
        </p>
        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Create account">
        </p>
      </form>
      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div>
    <!-- cd-signup -->
    <div id="cd-reset-password">
      <!-- reset password form -->
      <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="reset-email">E-mail</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Error message here!</span> </p>
        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Reset password">
        </p>
      </form>
      <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
    </div>
    <!-- cd-reset-password -->
    <a href="#0" class="cd-close-form">Close</a> </div>
  <!-- cd-user-modal-container -->
</div>
  <!-- Login-register >-->

   
    <script src="banner/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="banner/owl-carousel/owl.carousel.js"></script> 
      <style>
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
  
  #owl-demo .owl-next {
  right: 15px;
  position: absolute;
  width: 30px;
  background-image: url(banner/crousel_arrow_right.png) !important;
  height: 48px;
  top:40%;
  background-repeat: no-repeat!important;
}
#owl-demo .owl-prev {
  left: 15px;
  position: absolute;
  width: 30px;
  background-image: url(banner/crousel_arrow_left.png) !important;
  height: 48px;
  top:40%;
  background-repeat: no-repeat!important;
}

#owl-demo.owl-theme .owl-controls .owl-buttons div{ opacity:1; background:transparent}
  
    </style>
<script>
    $(document).ready(function() {

      var owl = $("#owl-demo");
      owl.owlCarousel({
        navigation : true,
        singleItem : true,
    navigationText:false,
        transitionStyle : "fade",
    pagination:false,
    
      });

     });
    </script> 
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->


    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/npm.js"></script>

    <script type="text/javascript">
 $(".owl-carousel").hover(function(){ 
  $(".owl-buttons").show();

},function(){
     $(".owl-buttons").hide(); 
});
</script>
<style type="text/css">
  .owl-buttons{
    display: none;
  }
</style>

<script src="owlcarousel/owl.carousel.js"></script>
<script src="owlcarousel/theme.js"></script>
<script src="owlcarousel/theme.init.js"></script>  
<script src="bootstrap/js/tab_login.js"></script>  

</body>
</html>
